{% extends "layout.html" %}




{% block content %}
<div class="container">
{% if g.nave %}
  <h3>Resumen de embarque para la nave: {{g.nave_nombre}}</h2>
  <table>
    <tr>
      <th style="padding: 10px;">Número Guía</th>
      <th style="padding: 10px;">Contenedor</th>
      <th style="padding: 10px;">Especie</th>
      <th style="padding: 10px;">Cajas</th>
      <th style="padding: 10px;">Pallets</th>
    </tr>
  {% for i in g.nave %}
    <tr>
      {% for value in i.split(",") %}
        <td style="padding: 10px;">{{value}}</td>
      {% endfor %}
    </tr>
  {% endfor %}



  </table>
{% elif g.show_resumen %}
<div class="alert alert-danger" role="alert">
  La nave ingresada no existe
</div>
{% endif %}
</div>


<div class="container">
    <h2>Consultar resumen de embarque</h2>
    
    <form class="form-inline" method="POST">
      <div class="form-group">
        <label for="email">Nombre nave:</label>
        <input type="text" class="form-control"  name="nombre_nave">
      </div>
      <button type="submit" class="btn btn-light">Consultar</button>
    </form>
  </div>


{% endblock%}
