{% extends "layout.html" %}

{% block content %}

{% if g.upload_errors != 0 and g.upload_errors != 3 %}
<div class="container" style="font-size: 12px;">
<table>
    <tr>
<div class="row" style="padding-bottom: 30px;">
    <th>
    <div class="col">
        NAVE
    </div>
</th>
<th>
    <div class="col">
        PUERTO
    </div>
</th>
<th>
    <div class="col">
        DESTINO
    </div>
</th>
<th>
    <div class="col">
        N GUIA
    </div>
</th>
<th>
    <div class="col">
        CONTENEDOR
    </div>
</th>
<th>
    <div class="col">
        N PALLET
    </div>
</th>
<th>
    <div class="col">
        CAJAS
    </div>
</th>
<th>
    <div class="col">
        ESPECIE
    </div>
</th>
<th>
    <div class="col">
        VARIEDAD
    </div>
</th>
<th>
    <div class="col">
        EMBALAJE
    </div>
</th>
<th>
    <div class="col">
        CHOFER
    </div>
</th>
<th>
    <div class="col">
        N_CHOFER
    </div>
</th>
</div>
</tr>
{% endif %}



{% for line in g.file_content%}
<tr>
    <div class="row">   
    
    {% for code in line.split(",")%}
    
    {% if code == 'NOT FOUND'%}
    <td style="background-color:crimson;">
         {{code}}
    </td>
    {%else%}
    <td>  
        {{code}}
    </td>

    {% endif %}
    {%endfor%}
    </div>
</tr>
{%endfor%}
</div>

</table>
{% if g.upload_errors == 2 %}
<!-- Errores en el archivo, no se puede subir-->
<div class="alert alert-danger" role="alert">
    El archivo tiene errores, no puede ser subido al sistema.
</div>
{% elif g.upload_errors == 1 %}
<!-- El archivo no tiene errores -->
<div class="container">
    <form method="POST">
        <button type="submit" name="upload" value="Subir" >Subir</button>
    </form>
</div>
{% elif g.upload_errors == 3 %}
<!-- El archivo no tiene errores -->
<div class="alert alert-success" role="alert">
    El archivo se ha cargado correctamente.
</div>




{% else %}




<div class="container">
<h2>Seleccione un archivo para subir:</h2>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="filename" accept=".txt">
    <input type="submit" value="Subir">
  </form>

</div>

{% endif %}

{% endblock%}
