{% extends "layout.html" %}

{% block content %}
<p>EMBARQUES MARÍTIMOS 2017</p>
<ul style="list-style-image: url({{url_for('static', filename='img/iconotxt.png')}});">
    <li>
      <a href="{{ url_for('static',filename='files/2017/OCEAN_DROVER_2017.txt')}}" download>OCEAN_DROVER_2017</a>
    </li>
    <li>
      <a href="{{ url_for('static',filename='files/2017/GLOVIS_COSMOS_2017.txt')}}" download>GLOVIS_COSMOS_2017</a>
    </li>
    <li>
      <a href="{{ url_for('static',filename='files/2017/MIGHTY_SERVANT_1_2017.txt')}}" download>MIGHTY_SERVANT_1_2017</a>
    </li>
    <li>
      <a href="{{ url_for('static',filename='files/2017/NAVE_EJEMPLO_2017.txt')}}" download>NAVE_EJEMPLO_2017</a>
    </li>
  </ul>
  <ul style="list-style-image: url({{url_for('static', filename='img/iconoexcel.png')}});">
    <li>
      <a href="{{ url_for('static',filename='files/2017/OCEAN_DROVER_2017.xls')}}" download>OCEAN_DROVER_2017</a>
    </li>
    <li>
      <a href="{{ url_for('static',filename='files/2017/GLOVIS_COSMOS_2017.xls')}}" download>GLOVIS_COSMOS_2017</a>
    </li>
    <li>
      <a href="{{ url_for('static',filename='files/2017/MIGHTY_SERVANT_1_2017.xls')}}" download>MIGHTY_SERVANT_1_2017</a>
    </li>
    <li>
      <a href="{{ url_for('static',filename='files/2017/NAVE_EJEMPLO_2017.xls')}}" download>NAVE_EJEMPLO_2017</a>
    </li>
  </ul>
<ul style="list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png);">
  <li>
    <a href="{{ url_for('mar')}}">ATRÁS</a>
  </li>
</ul>

{% endblock%}
