{% extends "layout.html" %}

{% block content %}
<p>EMBARQUES MARÍTIMOS</p>
<ul style="list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png);">
  <li>
    <a href="{{ url_for('a2020')}}">2020</a>
  </li>
  <li>
    <a href="{{ url_for('forb')}}">2019
    </a>
  </li>
  <li>
    <a href="{{ url_for('forb')}}">2018</a>
  </li>
  <li>
    <a href="{{ url_for('a2017')}}">2017</a>
  </li>
  <li>
    <a href="{{ url_for('forb')}}">2016
    </a>
  </li>
  <li>
    <a href="{{ url_for('forb')}}">2015</a>
  </li>
  <li>
    <a href="{{ url_for('forb')}}">2014</a>
  </li>
  <li>
    <a href="{{ url_for('forb')}}">2013
    </a>
  </li>
  <li>
    <a href="{{ url_for('forb')}}">2012</a>
  </li>
  <li>
    <a href="{{ url_for('forb')}}">2011</a>
  </li>
  <li>
    <a href="{{ url_for('forb')}}">...
    </a>
  </li>
  <li>
    <a href="{{ url_for('emb')}}">ATRÁS</a>
  </li>
</ul>

{% endblock%}
